<% include head.ejs %>
<% include nav.ejs %>

<div class="container w">

    <div class="row white centered">
        <h1 class="centered">MEET OUR AWESOME TEAM</h1>
        <hr>
        <blockquote>
            <p>Dans le cadre de notre formation d'ingénieur, nous avons eu l'opportunité de réaliser un projet en
                deuxième année. Les enseignants Johann Bourcier et Olivier Barais nous ont proposé trois projets et
                notre choix s'est porté sur "Utiliser un ensemble de Raspberry Pi pour assembler, enregistrer, encoder
                et diffuser un ensemble de flux vidéos enregistrés via des caméras".
                <small>Ce projet a été l'occasion de rassembler une équipe de 10 élèves ingénieurs et d'expérimenter les
                    enseignements appris tout au long de notre formation (notamment en ce qui concerne l'agilité mais
                    également sur les technologies que nous avons apprises).
                </small>
            </p>
        </blockquote>
    </div>
</div><!-- container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="js/app.js"></script>

</body>
</html>
