<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">在线直播</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index">主页</a></li>
                <li><a href="/stream">播放列表</a></li>
                <li><a href="/about">关于</a></li>
                <li><a href="/startlive">开始直播</a></li>
                <% if(userName){%>
                <li><a href="/logout">注销 [<%=userName%>]</a></li>
                <% }else{%>
                <li><a  href="/login">登录 <i class="fa fa-user"></i></a></li>
                <% }%>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>